<div class="container">
  <div class="heading">
    <h1><%= @task.title %></h1>
    <button type="button" class="btn btn-primary" id="top-right">
      <%= link_to "Edit this task", tasks_edit_path, :class => "link-edit" %>
    </button>
  </div>

  <p>
    <%= @task.details %>
  </p>

  <div class="status">
    <% if @task.completed %>
    <%= link_to update_task_path(@task.id, task: { completed: false }), method: :patch do %>
    <input type="checkbox" checked />
    Task is completed
    <% end %>
    <% else %>
    <%= link_to update_task_path(@task.id, task: { completed: true }), method: :patch do %>
    <input type="checkbox" />
    Task is not completed yet
    <% end %>
    <% end %>
  </div>
  <%= link_to "<< Back to list", tasks_path %>
</div>

